<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit "{{ .Post.Title }}"</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../editor.js"></script>
  </head>
  <body>
    <div class="page">
      <nav>
        <a href="../posts">Posts</a>
        <a href="../images">Images</a>
        <a href="../config">Settings</a>
      </nav>
      
      <main>
        <form method="POST" action="">
          <input 
            class="title" 
            type="text" 
            value="{{ .Post.Title }}" 
            id="title"
            oninput="autoFillSlug()"
          />
          <div class="toolbar grow">
            <label class="inline">
              Slug
              <input type="text" value="{{ .Post.Slug }}" id="slug" />
            </label>
            <label class="inline">
              Author
              <input type="text" value="{{ .Post.Author }}" />
            </label>
          </div>
          <div>
            Tags
            <br />
            {{ range .Config.Tags }}
              <label class="inline">
                <input type="checkbox" />
                {{ . }}
              </label>
            {{ end }}
          </div>

          <textarea rows="30">{{ .Post.Content }}</textarea>
          
          <div class="toolbar">
            <div></div>
            <div>
              <button id="submit" class="button">Save</button>
            </div>
          </div>

        </form>

      </main>
    </div>
  </body>
</html>