<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Edit image "{{ .Slug }}"</title>
    <link rel="stylesheet" href="../style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <div class="page">
      <nav>
        <a href="../posts">Posts</a>
        <a href="../images">Images</a>
        <a href="../config">Settings</a>
      </nav>

      <main>
        <div class="center">
            <img src="../../dist/images/{{ largeThumbnail . }}" />
        </div>
        <form method="POST" action="">
            <label>
                Slug
                <input name="slug" type="text" value="{{ .Slug }}" />
            </label>
            <label>
                Alternative Text
                <input name="alt" type="text" value="{{ .Alt }}" />
            </label>
            <label>
                Description
                <input name="description" type="text" value="{{ .Description }}" />
            </label>
            <div class="toolbar">
                <div></div>
                <div>
                  <button class="button">Save</button>
                </div>
            </div>
        </form>
      </main>
    </div>
  </body>
</html>