<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Images</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <div class="page">
      <nav>
        <a href="./posts">Posts</a>
        <a href="./images">Images</a>
        <a href="./config">Settings</a>
      </nav>

      <main>
        <h1>Images</h1>
        <div class="toolbar">
          <div>
            <form 
              class="inline"
              method="POST" 
              action="./images" 
              enctype="multipart/form-data"
            >
              <label>
                <span class="button">Upload Images</span>
                <input 
                name="images"
                type="file"
                accept="image/jpeg, image/png"
                multiple
                onchange="event.target.parentNode.parentNode.submit()"
                />
              </label>
            </form>
          </div>
          <div>
            <a href="./images">All</a>
            <a href="?mime=image/jpeg">JPEG</a>
            <a href="?mime=image/png">PNG</a>
          </div>
        </div>

        <div class="gallery">
          {{ range .Images }}
            <a href="./images/{{ .ID }}">
              <div 
                class="tile"
                style="background-image: url('../dist/images/{{ smallThumbnail . }}')"
              >
                <form 
                  class="inline"
                  method="POST"
                  action="/admin/delete_image/{{ .ID }}"
                >
                  <button>Delete</span>
                </form>
              </div>
            </a>
          {{ end }}
        </div>

        {{ if .Pages }}
        <div class="center">
          Go to page: 
          {{ range .Pages }}
            <span 
              class="link" 
              onclick="addQueryParam('page', '{{ . }}')"
            >{{ . }}</span>
          {{ end }}
        </div>
      {{ end }}

      </main>
    </div>

    <script>
      function addQueryParam(param, value) {
        const url = new URL(location.href);
        const params = new URLSearchParams(url.search);
        params.delete(param);
        params.append(param, value);
        url.search = params.toString();
        location.href = url.toString();
      }
    </script>
  </body>
</html>