<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Posts</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body>
    <div class="page">
      <nav>
        <a href="./posts">Posts</a>
        <a href="./images">Images</a>
        <a href="./config">Settings</a>
      </nav>

      <main>
        <h1>Posts</h1>
        <div class="toolbar">
          <div>
            <form class="inline" method="POST" action="./posts">
              <button class="button">New Post</button>
            </form>
          </div>
          <div>
            <a href="./posts">All</a>
            <a href="?status=draft">Drafts</a>
            <a href="?status=published">Published</a>
            <a href="?status=deleted">Deleted</a>
            &nbsp;
            <form class="inline" method="GET" action="./posts">
              <input name="search" type="text" placeholder="Search..."/>
            </form>
          </div>
        </div>

        <table>
          <thead>
            <tr>
              <th width="50%">Title</th>
              <th width="10%">Author</th>
              <th width="15%">Status</th>
              <th width="10%">Comments</th>
              <th width="15%">Last Updated</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Posts }}
              <tr>
                <td>
                  <a href="/admin/posts/{{ .ID }}">{{ .Title }}</a>
                  <div class="row-hover">
                    {{ if eq .Status "deleted" }}
                      <form 
                        class="inline"
                        method="POST" 
                        action="/admin/restore_post/{{ .ID }}"
                      >
                        <span 
                          class="link"
                          onclick="event.target.parentNode.submit()"
                        >
                          Restore
                        </span>
                      </form>
                    {{ else }}
                      <form 
                        class="inline"
                        method="POST" 
                        action="/admin/delete_post/{{ .ID }}"
                      >
                        <span 
                          class="link red"
                          onclick="event.target.parentNode.submit()"
                        >
                          Delete
                        </span>
                      </form>
                      <a href="../dist/{{ .Slug }}.html">View</a>
                    {{ end }}
                  </div>
                </td>
                <td>{{ .Author }}</td>
                <td>
                  {{ .Status }}
                  {{ if eq .Status "published" }}
                    <br />
                    {{ .PublishedAt.Time.Format "02 Jan 2006" }}
                {{ end }}
                </td>
                <td>{{ .CommentCount }}</td>
                <td>{{ .UpdatedAt.Format "02 Jan 2006" }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>

        {{ if .Pages }}
          <div class="center">
            Go to page: 
            {{ range .Pages }}
              <span 
                class="link" 
                onclick="addQueryParam('page', '{{ . }}')"
              >{{ . }}</span>
            {{ end }}
          </div>
        {{ end }}

      </main>
    </div>

    <script>
      function addQueryParam(param, value) {
        const url = new URL(location.href);
        const params = new URLSearchParams(url.search);
        params.delete(param);
        params.append(param, value);
        url.search = params.toString();
        location.href = url.toString();
      }
    </script>
  </body>
</html>