<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="./style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  </head>
  <body onload="onInput()">
    <div class="page">
      <nav>
        <a href="./posts">Posts</a>
        <a href="./images">Images</a>
        <a href="./config">Settings</a>
      </nav>

      <main>
        <h1>Settings</h1>
      
        <pre contenteditable id="editor" oninput="onInput()">{{ .ConfigText }}</pre>
        <div class="red" id="error" style="display: none;">
          The configuration above is not valid JSON!
        </div>

        <div class="toolbar">
            <div></div>
            <form method="POST" action="">
              <input name="config" type="hidden" id="value" />
              <button id="submit" class="button">Save</button>
            </form>
        </div>
      </main>
    </div>

    <script>
      const editor = document.getElementById("editor");
      const formValue = document.getElementById("value");
      const errorMessage = document.getElementById("error");
      const submit = document.getElementById("submit");

      function onInput() {
        const text = editor.innerText;
        const caretPos = getCaretPos(editor);

        editor.innerHTML = highlight(text);
        setCaret(caretPos, editor);

        formValue.value = text;

        try {
          JSON.parse(text);
          errorMessage.style.display = "none";
          submit.removeAttribute("disabled");
        } catch {
          errorMessage.style.display = "block";
          submit.setAttribute("disabled", "1");
        }
      }

      function highlight(text) {
        const output = [];
        let struct = [];
        let state = null;
        let place = "field";
        for (const char of text) {
          if (
            char === ',' 
            && (struct && struct[struct.length-1] != "array")
          ) {
            place = "field";
          } else if (char === ':') {
            place = "value";
          } else if (char === "{") {
            place = "field";
            struct.push("object");
          } else if (char === "}") {
            place = "field";
            struct = struct.slice(0, -1);
          } else if (char === '[') {
            struct.push("array");
          } else if (char === ']') {
            struct = struct.slice(0, -1);
          }

          if (char === '"' && state === null) {
            output.push(`<span class="hl-${place}">${char}`);
            state = "string";
          } else if (char === '"' && state === "string") {
            output.push(`${char}</span>`);
            state = null;
          } else {
            output.push(char);
          }
        }
        return output.join("");
      }


      function getCaretPos(editor) {
        const range = getSelection().getRangeAt(0);
        const prefix = range.cloneRange();
        prefix.selectNodeContents(editor);
        prefix.setEnd(range.endContainer, range.endOffset);
        return prefix.toString().length;
      }

      function setCaret(pos, editor) {
        for (const node of editor.childNodes) {
          if (node.nodeType == Node.TEXT_NODE) {
            if (node.length >= pos) {
              const range = document.createRange();
              const sel = window.getSelection();
              range.setStart(node, pos);
              range.collapse(true);
              sel.removeAllRanges();
              sel.addRange(range);
              return -1;
            } else {
              pos = pos - node.length;
            }
          } else {
            pos = setCaret(pos, node);
            if (pos < 0) {
              return pos;
            }
          }
        }
        return pos;
      };
    </script>
  </body>
</html>