* {
    box-sizing: border-box;
}

body, input, textarea, button {
    font-size: 12pt;
    font-family: sans-serif;
}

.page {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 48px;
}

input[type="text"], textarea, button, .button {
    padding: 6px 12px;
    border-radius: 0;
    border: 1px solid silver;
}

input[type="text"], textarea {
    display: block;
    width: 100%;
}

pre:focus, input[type="text"]:focus, textarea:focus {
    outline: 4px solid lightblue;
    border: 1px solid blue;
}

button, .button {
    background-color: whitesmoke;
}

button:hover, .button:hover {
    background-color: lightgray;
}

table {
    border-spacing: 0;
    border: 1px solid silver;
    margin: 12px 0;
}

thead {
    background-color: lightgray;
}

th {
    border-bottom: 1px solid silver;
}

td, th {
    text-align: left;
    padding: 8px 16px;
}

tr:nth-child(even) td{
    background-color: lavender;
}

nav {
    padding: 12px;
    margin: 12px 0;
    background-color: lavender;
    border: 1px solid lightblue;
}

nav a {
    padding: 6px;
}

a, a:visited, .link {
    color: mediumblue;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.grow > * {
    flex-grow: 1;
}

.inline {
    display: inline-block;
}

h1 {
    font-size: larger;
}

.row-hover {
    font-size: small;
    padding-top: 4px;
    visibility: hidden;
}

tr:hover .row-hover {
    visibility: visible;
}

.red, a.red {
    color: red;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    margin: 12px 0;
}

.tile {
    width: 235px;
    height: 235px;
    background-size: cover;
    background-position: center;
    padding: 6px;
}

.tile button {
    display: none;
    padding: 4px 8px;
    background-color: white;
}

.tile:hover button {
    display: inline-block;
}

.center {
    text-align: center;
}

label {
    display: block;
    margin: 6px 0;
}

input[type="file"] {
    display: none;
}

pre {
    border: 1px solid lightgray;
}

.hl-field {
    color: green;
}

.hl-value {
    color: blue;
}

.title {
    font-size: larger;
    font-weight: bold;
    margin-top: 24px;
}